<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>Meat</string>
		<key>categoryImageName</key>
		<string>iconMeatNormal</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Kaiken Reserve
Kaiken Reserve</string>
				<key>countryName</key>
				<string>Argentina</string>
				<key>grape</key>
				<string>Malbec</string>
				<key>colour</key>
				<string>Red</string>
				<key>vintage</key>
				<string>2014</string>
				<key>abv</key>
				<string>14%</string>
				<key>tastingNotes</key>
				<string>Spicy black / red fruit with chocolate and coffee notes</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Dandelion Shiraz</string>
				<key>countryName</key>
				<string>Australia</string>
				<key>grape</key>
				<string>Shiraz</string>
				<key>colour</key>
				<string>Red</string>
				<key>vintage</key>
				<string>2014</string>
				<key>abv</key>
				<string>14.5%</string>
				<key>tastingNotes</key>
				<string>Full bodied. Sweetish dark spicy fruit and oak.</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Pacheco Roble</string>
				<key>countryName</key>
				<string>Spain</string>
				<key>grape</key>
				<string>Blend</string>
				<key>colour</key>
				<string>Red</string>
				<key>vintage</key>
				<string>2014</string>
				<key>abv</key>
				<string>14.5%</string>
				<key>tastingNotes</key>
				<string> Ripe bramble fruit, cherry, spice notes and  oak. </string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Dumanet Viognier</string>
				<key>countryName</key>
				<string>France</string>
				<key>grape</key>
				<string>Viognier</string>
				<key>colour</key>
				<string>White</string>
				<key>vintage</key>
				<string>2015</string>
				<key>abv</key>
				<string>13%</string>
				<key>tastingNotes</key>
				<string>Medium bodied. Crisp stone fruit - apricots / peach. Fresh acidity.</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Wolftrap White</string>
				<key>countryName</key>
				<string>South Africa</string>
				<key>grape</key>
				<string>Blend</string>
				<key>colour</key>
				<string>White</string>
				<key>vintage</key>
				<string>2015</string>
				<key>abv</key>
				<string>13.5%</string>
				<key>tastingNotes</key>
				<string>White peach, pear, apricot. Dashes of fresh lime &amp; lemongrass</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Ciu Ciu Offida</string>
				<key>countryName</key>
				<string>Italy</string>
				<key>grape</key>
				<string>Pecorino</string>
				<key>colour</key>
				<string>White</string>
				<key>vintage</key>
				<string>2015</string>
				<key>abv</key>
				<string>14%</string>
				<key>tastingNotes</key>
				<string>Citrus fruit, pears, almond and herbs</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Fish</string>
		<key>categoryImageName</key>
		<string>meat</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>2</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>4</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>6</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>8</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>10</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>12</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>14</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Pasta</string>
		<key>categoryImageName</key>
		<string>meat</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>13</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>15</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>17</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>19</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>21</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>23</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>25</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Cheese</string>
		<key>categoryImageName</key>
		<string>meat</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>16</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>18</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>20</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>22</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>24</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>26</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>28</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Vegetables</string>
		<key>categoryImageName</key>
		<string>meat</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Occasions</string>
		<key>categoryImageName</key>
		<string>meat</string>
		<key>wineArray</key>
		<array>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>wineName</key>
				<string>Campo Viejo</string>
				<key>wineImageName</key>
				<string>meat</string>
				<key>wineSegment</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
